.app-tags {
  margin-bottom: 60px;
}

.app-tags-group {
  padding: 10px;
  margin: 0 0 10px;
  background-color: #111;
  border-radius: 4px;
}

.app-tags-group:last-child {
  margin-bottom: 0;
}

@media (max-width: 1000px) {
  .app-tags {
    margin-bottom: 40px;
  }

  .app-tags-group {
    padding: 5px;
    margin: 0 0 5px;
  }
}

@media (max-width: 700px) {
  .app-tags {
    margin-bottom: 20px;
  }
}
