.app-faq-title {
  margin: 0;
  padding: 45px 0 75px;
  font-size: 34px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}

.app-faq-list {
  max-width: 700px;
  margin: 0 auto 90px;
}

.app-faq-item {
  margin-bottom: 40px;
}

.app-faq-item:last-child {
  margin-bottom: 0;
}

.app-faq-question {
  position: relative;
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.5;
}

.app-faq-question:before {
  content: "#";
  position: absolute;
  top: 0;
  left: -8px;
  transform: translate(-100%, 0);
}

.app-faq-answer {
  font-size: 18px;
  line-height: 1.5;
}

@media (max-width: 1320px) {
  .app-faq-title {
    padding: 35px 0 60px;
    font-size: 28px;
  }
  .app-faq-list {
    margin-bottom: 60px;
  }
}

@media (max-width: 1000px) {
  .app-faq-title {
    padding: 25px 0 30px;
    font-size: 26px;
  }
  .app-faq-item {
    margin-bottom: 25px;
  }
  .app-faq-question {
    padding-left: 25px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.4;
  }
  .app-faq-question:before {
    left: 0;
    transform: translate(0, 0);
  }
  .app-faq-answer {
    font-size: 16px;
    line-height: 1.4;
  }
  .app-faq-list {
    margin-bottom: 45px;
  }
}

@media (max-width: 700px) {
  .app-faq-title {
    font-size: 24px;
  }
  .app-faq-item {
    margin-bottom: 20px;
  }
  .app-faq-question {
    padding-left: 20px;
  }
  .app-faq-question {
    font-size: 16px;
  }
}
