.app-bookshelf {
  margin-bottom: 65px;
}

.app-bookshelf-title {
  margin: 0;
  padding: 45px 0 75px;
  font-size: 34px;
  font-weight: 700;
  text-align: center;
}

@media (max-width: 1320px) {
  .app-bookshelf-title {
    padding: 35px 0 60px;
    font-size: 28px;
  }
}

@media (max-width: 1000px) {
  .app-bookshelf {
    margin-bottom: 45px;
  }

  .app-bookshelf-title {
    padding: 30px 0 40px;
    font-size: 26px;
  }
}

@media (max-width: 700px) {
  .app-bookshelf-title {
    font-size: 24px;
  }
}
