.app-contact-title {
  margin: 0;
  padding: 45px 0 75px;
  font-size: 34px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}

.app-contact-text {
  max-width: 480px;
  margin: 0 auto 90px;
}

.app-contact-list {
  margin: 40px 0;
}

.app-contact-item {
  position: relative;
  padding-left: 30px;
  margin-bottom: 20px;
}

.app-contact-item::before {
  content: "#";
  position: absolute;
  top: 0;
  left: 0;
}

.app-contact-item:last-child {
  margin-bottom: 0;
}

.app-contact-text p,
.app-contact-text li {
  font-size: 18px;
  line-height: 1.5;
}

@media (max-width: 1320px) {
  .app-contact-title {
    padding: 35px 0 60px;
    font-size: 28px;
  }
  .app-contact-text {
    margin-bottom: 60px;
  }
}

@media (max-width: 1000px) {
  .app-contact-title {
    padding: 25px 0 30px;
    font-size: 26px;
  }
  .app-contact-text {
    margin-bottom: 45px;
  }
}

@media (max-width: 700px) {
  .app-contact-title {
    font-size: 24px;
  }
}
