.app-header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding: 0 50px;
}

.app-header-item-link {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}

.app-header-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 50px;
}

.app-header-logo img {
  display: block;
  width: 100%;
}

@media (max-width: 1320px) {
  .app-header-container {
    padding: 0 40px;
  }
}

@media (max-width: 700px) {
  .app-header-container {
    height: 60px;
    padding: 0 20px;
  }
}
