.app-book-title {
  margin: 0;
  padding: 45px 0 75px;
  font-size: 34px;
  font-weight: 700;
  text-align: center;
}

.app-book-text {
  max-width: 700px;
  margin: 0 auto 90px;
}

.app-book-text h3 {
  margin-top: 50px;
  margin-bottom: 0;
}

.app-book-photo-wrapper {
  display: flex;
  margin-bottom: 50px;
}

.app-book-photo {
  width: 310px;
  padding-right: 50px;
}

.app-book-photo img {
  display: block;
  width: 100%;
}

.app-book-inform {
  width: calc(100% - 300px);
}

.app-book-inform-item {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.5;
}

.app-book-inform-item:last-child {
  margin-bottom: 0;
}

.app-book-inform-tag {
  display: inline;
}

.app-book-inform-tag span::after {
  content: ", ";
}

.app-book-inform-tag span:last-child::after {
  display: none;
}

.app-book-desk p {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.5;
}

.app-book-desk ol,
.app-book-desk ul {
  margin-top: 35px;
  margin-bottom: 45px;
}

.app-book-desk ol {
  list-style: decimal;
}

.app-book-desk ul {
  list-style: circle;
}

.app-book-desk ol li,
.app-book-desk ul li {
  margin-left: 30px;
  padding-left: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.5;
}

.app-book-desk ol li:last-child,
.app-book-desk ul li:last-child {
  margin-bottom: 0;
}

.app-book-link-list {
  display: inline;
}

.app-book-link-item {
  display: inline;
}

.app-book-link-item::after {
  content: ", ";
}

.app-book-link-item:last-child::after {
  display: none;
}
