.app-book-item {
  position: relative;
  width: 25%;
  padding: 25px 15px;
}

.app-book-item-img-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 130%;
  margin-bottom: 20px;
  background-color: #111;
  overflow: hidden;
}

.app-book-item-img {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  transform: translate(-50%, -50%);
}

.app-book-link {
  display: block;
  text-decoration: none;
}

.app-book-item-name {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}

.app-book-item-authors {
  font-weight: 300;
  font-style: italic;
  font-size: 14px;
  color: #999;
}

@media (max-width: 1320px) {
  .app-book-item {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .app-book-item-img-wrapper {
    margin-bottom: 15px;
  }

  .app-book-item-name {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.4;
  }
}

@media (max-width: 1000px) {
  .app-book-item {
    width: 33.333%;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .app-book-item-name {
    font-size: 16px;
  }
}

@media (max-width: 700px) {
  .app-books-list {
    padding: 0 20px;
  }

  .app-book-item {
    width: 100%;
    max-width: 320px;
    margin: auto;
    padding-left: 0;
    padding-right: 0;
  }
}
