.app-main-wrapper {
  margin-top: 45px;
  text-align: center;
}

.app-link-main {
  position: relative;
  padding-left: 18px;
  cursor: pointer;
}

.app-link-main span,
.app-link-main path {
  transition: all 0.3s;
}

.app-link-main:hover span {
  color: #999;
}

.app-link-main:hover path {
  fill: #999;
}

.app-main-icon {
  position: absolute;
  top: 2px;
  left: 0;
  width: 15px;
}

@media (max-width: 1000px) {
  .app-link-main {
    padding-left: 15px;
    font-size: 16px;
  }
  .app-main-icon {
    top: 3px;
    width: 12px;
  }
}

@media (max-width: 700px) {
  .app-main-wrapper {
    margin-top: 15px;
  }
}
